/*
|
| Banner
|---------
*/
.banner{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    .item-content{
        width: 100%;
        padding: 50px 0;
    }
    .img-cover{
    	.img-svg{
    		position: absolute;
    		right: 50px;
		    bottom: -70px;
    		height: 145px;
    		width: 200px;
    		display: flex;
    	}
	    bottom: 0px;
		position: absolute;
		z-index: 1;
	}
}

.banner--home{
	min-height: 100vh;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 140px;
    padding-bottom: 40px;
	@include media-breakpoint-down('md'){
		padding-top: 220px;
	}
	@include media-breakpoint-down('sm'){
    	padding-top: 110px;
	}
	.item-content{
		position: relative;
		z-index: 5;
		@include media-breakpoint-down('md'){
		    padding-top: 0px;
		}
		.item-title{color: $black;}
		.item-text{
			color: $black; 
		}
	}
	.list-btn{

		.btn{
			@include media-breakpoint-down('md'){
				margin-bottom: 15px;
			}
			&:not(:last-child){
				margin-right: 20px;
				@include media-breakpoint-down('md'){
					margin-right: 0px;
				}
			}
		}
	}
}


.banner--product{
	min-height: 100vh;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 140px;
    padding-bottom: 40px;
	@include media-breakpoint-down('md'){
		padding-top: 220px;
	}
	@include media-breakpoint-down('sm'){
    	padding-top: 110px;
	}
	.item-content{
		position: relative;
		z-index: 5;
		@include media-breakpoint-down('md'){
		    padding-top: 0px;
		}

		.item-logo{
		    width: 250px;
		    margin-bottom: 30px;
		}
		.item-title{
		}
		.item-text{
		}
	}
	.list-btn{
		.btn{
			@include media-breakpoint-down('md'){
				margin-bottom: 15px;
			}
			&:not(:last-child){
				margin-right: 20px;
				@include media-breakpoint-down('md'){
					margin-right: 0px;
				}
			}
		}
	}
}

.banner--default{
    padding-top: 110px;
    padding-bottom: 0px;
	min-height: 75vh;
	overflow: hidden;
    @include media-breakpoint-down(md){
    	min-height: 35vh;
    	padding-bottom: 140px;
    }
    @include media-breakpoint-down(sm){
		min-height: 380px;
		padding-bottom: 100px;
	}
	.item-content{
		position: relative;
		z-index: 5;
		padding: 0px;
		.item-title{ color: $white; }
		.cms{ line-height: 1.6em;}
	}
}

.banner--singlejob{
	padding-top: 110px;
    padding-bottom: 0px;
	min-height: 75vh;
	overflow: hidden;
    @include media-breakpoint-down('md'){
		min-height: 380px;
		padding-bottom: 20px;
	}
	.item-content{
		position: relative;
		z-index: 5;
		padding: 0px;
		.item-title{ color: $white; }
		.cms{ line-height: 1.6em;}
	}
}