<div class="row">
	<div class="col-md-6"> 
		<div class="item-input">
			<label>Nom</label>
		    [text* your-name] 
	    </div>
    </div>
	<div class="col-md-6"> 
	    <div class="item-input">
			<label>Prénom</label>
		    [text* your-prenom] 
	    </div>
	</div>
	<div class="col-md-6"> 
		<div class="item-input">
			<label>Poste occupé</label>
		    [text* your-poste] 
	    </div>
    </div>
	<div class="col-md-6"> 
	    <div class="item-input">
			<label>Société</label>
		    [text* your-societe] 
	    </div>
	</div>
	<div class="col-md-6"> 
	    <div class="item-input">
			<label>Email</label>
		    [email* your-email] 
	    </div>
	</div>
	<div class="col-md-6"> 
	    <div class="item-input">
			<label>Téléphone</label>
		    [tel* your-tel] 
	    </div>
    </div>
	<div class="col-md-12"> 
	    <div class="item-input item-input-select">
			<label >Votre demande</label>
			[select form-data class:w-100 default:get default:post_meta "Documentation technique" "Documentation générale" "Autre"]
	    </div>
	</div>
	<div class="col-md-12"> 
		<div class="item-input">
		    <label>Message</label>
		    [textarea* your-message] 
	    </div>

	    <div class="item-input">
	     	[radio radio-5 use_label_element "En cliquant sur Envoyer, vous acceptez les CGU ainsi que notre politique de confidentialité décrivant la finalité des traitements de vos données personnelles."]
	  	 </div>
	  	 
	    <button type="submit" class="btn btn-white btn-icon btn-icon-center w-100">
	    	<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16"><path d="M20,4H4A2,2,0,0,0,2.01,6L2,18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V6A2.006,2.006,0,0,0,20,4Zm0,4-8,5L4,8V6l8,5,8-5Z" transform="translate(-2 -4)" fill="currentColor"/></svg></span>
	    	<span class="text">Envoyer ma demande</span>
	    </button>

	</div>
</div>