/*
|--------------------
|      SINGLE
|--------------------
*/

.post-date {
    font-size: 18px;
    color: $green;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0px;
    margin-right: 30px;

}

.post-excerpt {
    font-size: 22px;
    color: rgba($very-dark-grey, 0.6);
    font-weight: 400;
}