/*
|---------------------------------------------------------------
| COLORS
|---------------------------------------------------------------
| Define colors
|
|
*/

/*
|
| Colors declaration
|----------------------
|
*/
$black:           #000000;
$very-dark-grey:  #141414;
$dark-grey:       #424242;
$grey:            #474747; //
$orange:          #FF5D06; //
$light-grey:      #F7F7F7; //
$very-light-grey: #DCDCDC; //
$very-light-grey-2: #f2f2f2;//
$white:           #FFFFFF;
$white-opacity:   rgba(255, 255, 255, 0.8);
$black-opacity:   rgba(0, 0, 0, 0.6);


$blue:			      #009EC0;//
$dark-blue:       #162C42;
$yellow: 		      #FEB133;
$dark-orange:     #b33f00;
$red:             #FE1731;
$green:			      #124138;
$dark-green:      #09231e;

/*
|
| Assign colors
|---------------
|
*/
$border-color:                  $grey;
$text-color:                    $very-dark-grey;
$default-background-overlay:    $black-opacity;


/*
|-------------
| Colors map 
|-------------
| - How to use: add lines to create more "color classes" 
| - Generated classes: .bg-{color} & .color-{color}
|
*/
$colors : (
  //Required colors
  'black'          : $black,
  'very-dark-grey' : $very-dark-grey,
  'dark-grey'      : $dark-grey,
  'grey'           : $grey,
  'light-grey'     : $light-grey,
  'very-light-grey': $very-light-grey,
  'very-light-grey-2': $very-light-grey-2,
  'white'          : $white,
  'blue'           : $blue,
  'dark-blue'      : $dark-blue,
  'yellow'         : $yellow,
  'dark-orange'    : $dark-orange,
  'orange'         : $orange,
  'green'          : $green,
  'dark-green'     : $dark-green,
  'red'            : $red
);



